# pandas模块

1. 读写文件

In [1]:
import pandas as pd
#读取文本文件与csv文件
readTable=pd.read_table("arr1.txt")
print(f"read_table:\n{readTable}")
#读取csv文件
bossCsv=pd.read_csv("boss.csv",sep=",")
print(f"read_csv\n:{bossCsv}") 

# 写入文本文件
bossCsv.to_csv("newBoss.csv",sep=";",index=False)
print("写入csv:newBoss.csv:\n",pd.read_csv("newBoss.csv",sep=";"))

read_table:
             0,1,2,3,4,5,6,7,8,9
0  10,11,12,13,14,15,16,17,18,19
1  20,21,22,23,24,25,26,27,28,29
2  30,31,32,33,34,35,36,37,38,39
3  40,41,42,43,44,45,46,47,48,49
read_csv
:        序号          岗位           工作地域        薪资待遇         任职要求
0        1       技术工程师             北京        5-8K      1年以内,大专
1        2  招募实习生150/天             北京  100-150元/天  4天/周,3个月,大专
2        3    UI设计师实习生             北京  200-250元/天  3天/周,5个月,大专
3        4     北京地图标注员     北京·海淀区·西北旺        4-9K      经验不限,大专
4        5        销售顾问      北京·海淀区·上地    5-7K·14薪      经验不限,大专
...    ...         ...            ...         ...          ...
2953  2663       短视频剪辑   郑州·金水区·国贸360        5-7K      1年以内,大专
2954  2664       平面设计师     郑州·金水区·CBD        3-8K      经验不限,大专
2955  2665       设计师助理  郑州·管城回族区·五洲公园        2-3K      1年以内,大专
2956  2666        电商设计             郑州        4-8K      1年以内,大专
2957  2667       婚礼设计师     郑州·二七区·医学院        4-6K      1年以内,大专

[2958 rows x 5 columns]
写入csv:newBoss.csv:
         序号          岗位           工作地域        薪资待遇         任职要求
0        1       技术工程师             北京        5-8K      1年以内,大专
1        2  招募实习生150/天             北京  100-150元/天  4天/周,3个月,大专
2        3    UI设计师实习生             北京  200-250元/天  3天/周,5个月,大专
3        4     北京地图标注员     北京·海淀区·西北旺        4-9K      经验不限,大专
4        5        销售顾问      北京·海淀区·上地    5-7K·14薪      经验不限,大专
...    ...         ...            ...         ...          ...
2953  2663       短视频剪辑   郑州·金水区·国贸360        5-7K      1年以内,大专
2954  2664       平面设计师     郑州·金水区·CBD        3-8K      经验不限,大专
2955  2665       设计师助理  郑州·管城回族区·五洲公园        2-3K      1年以内,大专
2956  2666        电商设计             郑州        4-8K      1年以内,大专
2957  2667       婚礼设计师     郑州·二七区·医学院        4-6K      1年以内,大专

[2958 rows x 5 columns]

2.读写Excel(.xls,.xlsx)

In [2]:
import pandas as pd
#读xls
xls=pd.read_excel("pandas.xlsx")#excel文件名
print(f"读取到的excel:\n你{xls}")
#写入excel
xls.to_excel("pandnas.xls")
print("写入成功")

读取到的excel:
你    河南职业技术学院考试未通过学生情况 Unnamed: 1 Unnamed: 2 Unnamed: 3  Unnamed: 4  \
0         2021-2022学年        NaN        NaN        NaN         NaN
1     院(系)/部：现代信息技术学院        NaN        NaN        NaN         NaN
2                  年级         专业       行政班级       考试未通          学号
3                 NaN        NaN        NaN       过学生数         NaN
4                2021    计算机应用技术     计应211班         15  2110502003
..                ...        ...        ...        ...         ...
191               NaN        NaN        NaN        NaN  2130505050
192               NaN        NaN        NaN        NaN  2130505097
193               NaN        NaN        NaN        NaN  2130505008
194               NaN        NaN        NaN        NaN  2130505095
195               NaN        NaN        NaN        NaN  2130505061

       Unnamed: 5 Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9  \
0             NaN        NaN        NaN        NaN        NaN
1    考试未通过学生数：145        NaN        NaN        NaN        NaN
2              姓名         性别         门数        学分数       承担单位
3             NaN        NaN        NaN        NaN        NaN
4             曹佳豪        NaN          1        2.0   现代信息技术学院
..            ...        ...        ...        ...        ...
191            刘祥        NaN          1        3.5      基础教学部
192           郑万鹏        NaN          1        2.0    马克思主义学院
193           陈文宽        NaN          1        2.0    马克思主义学院
194           赵梦宇        NaN          1        2.0    马克思主义学院
195            石慷        NaN          1        3.5      基础教学部

               Unnamed: 10 Unnamed: 11 Unnamed: 12 Unnamed: 13 Unnamed: 14  \
0                      NaN         NaN         NaN         NaN         NaN
1       学生→考试未通过课程/环节数：192         NaN         NaN         NaN         NaN
2                    课程/环节          学分        课程类别          考核          修读
3                      NaN         NaN         NaN          方式          性质
4       [Z051340010]UI设计基础         2.0     专业课/必修课          考查          初修
..                     ...         ...         ...         ...         ...
191       [Z100010030]大学语文         3.5     公共课/任选课          考查          初修
192  [Z110010060]大学生公民素质教育         2.0     公共课/必修课          考查          初修
193  [Z110010060]大学生公民素质教育         2.0     公共课/必修课          考查          初修
194  [Z110010060]大学生公民素质教育         2.0     公共课/必修课          考查          初修
195       [Z100010030]大学语文         3.5     公共课/任选课          考查          初修

         Unnamed: 15 Unnamed: 16 Unnamed: 17
0                NaN         NaN         NaN
1                NaN         NaN         NaN
2             修读学年学期          课程          备注
3                NaN          成绩         NaN
4    2021-2022学年第二学期         不及格         NaN
..               ...         ...         ...
191  2021-2022学年第二学期         不及格         NaN
192  2021-2022学年第二学期         不及格         NaN
193  2021-2022学年第二学期         不及格         NaN
194  2021-2022学年第二学期         不及格         NaN
195  2021-2022学年第二学期         不及格         NaN

[196 rows x 18 columns]
写入成功

C:\Users\Spark\AppData\Local\Temp/ipykernel_16608/1286065964.py:6: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.
  xls.to_excel("pandnas.xls")

3.连接mysql

In [12]:
import pandas as pd
from sqlalchemy import create_engine
#连接MySQL
engine =create_engine('mysql+pymysql://root:zhangweiwei@localhost:3306/xiaowei?')

'''读和查'''
# read_sql_query只能查询
#查询表
table=pd.read_sql_query("show tables",con=engine)
print("read_sql_query查询表:\n",table,sep="")
print()
#查询统计数
con=pd.read_sql_query("select count(*) from websitetraffic",con=engine)
print("read_sql_query统计记录数:\n",con,sep="")
print()


#read_sql_table只能读取
#读取表
data=pd.read_sql_table("websitetraffic",con=engine)
print("pd.read_sql_table读取:\n",data,sep="")
print()


#read_sql查询或者读取
sql1=pd.read_sql("select * from websitetraffic limit 1",con=engine)
print(f"pd.read_sql查询前三条:\n{sql1}")
print()

'''
写入
'''
#写入只有一种方法to_sql()
# if_exists=fail(默认值),replace,append
#如果存在则不操作,删除再创建,追加
print("插入前记录数:",pd.read_sql_query("select count(*) from w",con=engine))
data.to_sql("w",con=engine,if_exists="append")
print("追加插入数据中")
print("数据后记录数:",pd.read_sql_query("select count(*) from w",con=engine))

read_sql_query查询表:
  Tables_in_xiaowei
0        mysql_help
1              user
2                 w
3    websitetraffic

read_sql_query统计记录数:
   count(*)
0        10

pd.read_sql_table读取:
        date  traffic
0 2022-10-11      899
1 2022-10-12     1690
2 2022-10-13     1490
3 2022-10-14     1280
4 2022-10-15     1579
5 2022-10-16     1780
6 2022-10-17     1720
7 2022-10-18     1710
8 2022-10-19     1340
9 2022-10-20     1920

pd.read_sql查询前三条:
         date  traffic
0  2022-10-11      899

插入前记录数:    count(*)
0        30
追加插入数据中
数据后记录数:    count(*)
0        40

In [2]:
import pandas as pd
from sqlalchemy import create_engine

engine=create_engine("mysql+pymysql://root:zhangweiwei@localhost:3306/xiaowei")